@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navlogo {
    max-width: 100px;
    /* Add your styles here */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    /* Use margin-right for spacing */
    margin-right: 3rem;
}

.link a {
    list-style: none;
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    margin-right: 3rem;
    text-decoration: none;
}  

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0000FF; /* Use specific color code for blue */
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    /*background-color: #3b5998;*/
    background-color: rgb(23, 23, 243);
    border-radius:6px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color:rgb(5, 5, 139) ;
    transform: scale(1.03); /* Scale up slightly */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position:absolute;
    box-shadow: 0 0 100px 50px rgb(5, 5, 139);
    z-index: -100;

}
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .contents h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;    
}
header .contents h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rems;
}

header .contents h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .contents p{
    margin-bottom: 1rem;
    color: #fff;
    
}

header .image{
    position: relative;
    margin:auto;
    
}

header .image img{
    position:relative;
    padding-left: 0px;
    margin-left: 200px;
     max-width: 400px;
     margin: auto;
     
     
     
}

section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.features .card{
    background-color: #27272a;
    padding:1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
   
    transform: scale(1.03); /* Scale up slightly */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);

}
.features .card span{
    display: inline-block;
    background-color:  rgb(9, 9, 245);
    padding: 2px 6px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 5px;

}
.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}
.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
    
}
.features .card a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
}

.features .card a:hover{
    color: rgb(9, 9, 245);
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.pricing .card:hover{
    background-color: #323232;
    color: #fff;
   
}
.pricing .card .contents{
    flex:1;
    margin-bottom: 2rem;
}
.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}
.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;

}
.pricing .card p{
    color: #ccc;
    margin-bottom: 0.75rem;
}
.pricing .card p i{
    color: #ccc;
    font-size: 1.2rems;
    margin-right: 0.3rem;
    
}
.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
    gap: 2rem;
}
footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}
footer .column a{
    text-decoration: none;
}
footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 25%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}
footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}
footer .column >a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}
footer .column >a:hover{
    color: #1d4ed8;

}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media(width<900px ){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns:1fr;   
    }
    header .image {
        order: -1; /* Move the image above other elements */
        text-align: center; /* Center the image */
      }
    .navlogo {
        margin-right: auto; /* Pushes the logo to the left */
      }
    .features{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing
    {
        grid-template-columns: repeat(2,1fr);
    }
    footer{
       grid-template-columns: 1fr 200px; 
    }
}

@media(width < 600px){
      header .image:: ::before{
        display: none;
        position: relative;
        right: 10px;

      }
     .features{
        grid-template-columns: repeat(1,1fr);

     }
     .pricing{
        grid-template-columns: repeat(1,1fr);

    }
    footer{
        grid-template-columns: 1fr 150px;
    }
}
